{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>onlyMobileVies</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href='{% static "css/alert.css" %}' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='{% static "js/alertify.min.js" %}'></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src='{% static "js/jquery-3.4.1.min.js" %}'></script>

    <style>
  body{
      background:linear-gradient(to right,#6EEADB,#009EFA);
  }
    </style>
</head>
<body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a class="navbar-brand" href="{% url 'main' %}" style='font-size:30px;'>Quizzers</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul class="navbar-nav">
                      {% if user.is_authenticated %}
                      {% if user.is_contributer %}
                      <li class="nav-item">
                      <a class="nav-link" href="{% url 'create' %}">Add Quiz</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'main' %}">Start Quiz</a>
                          </li>
                    {% else %}
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'main' %}">StartQuiz</a>
                          </li>
                    {% endif %}
                    <li class="nav-item">
                            <a class="nav-link" href="">{{user.email}}</a>
                          </li>
                      <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">logout</a>
                      </li>
                     {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                  </ul>
                </div>  
              </nav>

    <div class='main'>
        {% block content %}
        {% endblock content %}
        </div>
    </div>
    <div class='container quiz_list mt-5'>
        {% block list %}
        {% endblock list %}
    </div>
</body>
</html>