{% extends "base.html" %}
{% load static %}
{% block list %}
<style>
#options{
  padding:10px;
  text-align: center;
}
#options p{
  padding:10px;
  text-align: center;
  background: white;
  border:2px solid greenyellow;
}
#link{
  padding:10px;
  text-decoration: none;
  color:white;
  font-size:20px;
  background:blue;
}
</style>
<body>
    <p style='font-size:30px;font-weight: 400;text-align:center;' class='title'>{{object.questiontitle}}</p>
    <div id='options' >
    <p><input type='radio' name='ch'  value='{{object.op1}}'>{{object.op1}}</p>
    <p><input type='radio' name='ch' value='{{object.op2}}'>{{object.op2}}</p>
    <p><input type='radio' name='ch' value='{{object.op3}}'>{{object.op3}}</p>
    <p><input type='radio' name='ch' value='{{object.op4}}'>{{object.op4}}</p>
    </div>
    <a id='link' href="{% url 'next'  object.id %}">Next Question</a>
<script>
       var start='{{object.id}}';
      var last=parseInt('{{last_question}}');
      var k=parseInt(start)+1;
      if(start==last){
        document.getElementById('link').href='{% url "take" object.quiz.category %}';
        document.getElementById('link').innerText='Submit';
      }
      else{  var p=document.getElementById('link').href;
        document.getElementById('link').href=p.replace('/{{object.id}}/','/'+parseInt(k)+'/');
           }

      $(document).ready(function(){
        $('input:radio').hide();
       $('#options p').on('click',function(){
        var bo=$(this);
         $(bo).siblings().css('background','white');
         if($(this).children('input:radio').prop("checked")){
          $(bo).css('background','white');
          $(this).children('input:radio').prop("checked",false);
          
         }
         else{
          $(bo).css('background','green');
         
          $(this).children('input:radio').prop("checked",true);
         }
       });
       $('a').on('click',function(e){
            e.preventDefault();
             console.log($('#options p').children('input:radio:checked'));
            if($('#options p').children('input:radio:checked').prop('checked'))
            {

             $.ajax({
               url:"{% url 'submit' %}",
               method:'post',
               data:{'option-selected':$('#options p').children('input:radio:checked').val(),'csrfmiddlewaretoken':'{{csrf_token}}','qno':'{{object.id}}'},
               success:function(data){
                 console.log(data);
                 window.location.href=$('#link').attr('href');
               },
               failure:function(xhr)
               {
                 console.log(xhr);
               }
              

             }) 
             }
             else{
              alertify.alert("You must select at least one to proceed next");
            }

                  });
      });
</script>
{% endblock %}