{% extends "base.html" %}
{% block list %}
{% load loads %}  
    {% if messages %}
    {% for m in messages  %}
    {{m}}
    {% endfor %}
    {% endif %}
    {% for q in object_list %}
    <div class='jumbotron pt-3 pb-3 border border-danger'>
   {% if q.created_by == request.user %}   
   <p><i class="fa fa-bookmark" aria-hidden="true" style="color:yellow;font-size:20px;"></i><br>{{q.quiztitle}}</p>            
   <p><a href='#'>Get Details</a></p>
   {% else %} 
    {% if request.user.score_set.all %}
         {% for score in request.user.score_set.all %}
              {% if score.quiz == q  %}
              <p class='va'><i class="fa fa-bookmark" aria-hidden="true" style="color:yellow;font-size:20px;"></i><br>{{q.quiztitle|linebreaks}}</p>    
              <p>* You have Scored   {{score.score}} Points</p>             
              {% endif %}
         {% endfor %}
         <p><a href="{% url 'start' q.id %}"> {{q.quiztitle|linebreaks}}</a></p>
   {% else %}
         <p><a href="{% url 'start' q.id %}"> {{q.quiztitle|linebreaks}}</a></p> 
  {% endif %}   
         {% endif %}
     </div>
    {% endfor %}
    <script>
         $(document).ready(function(){
           $('.va').parent('div').children().find('a').remove();
         });
    </script>
    {% endblock list %}
